@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'NEOPIXEL';
  src: url('../public/NEOPIXEL-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.neopixel-font {
  font-family: 'NEOPIXEL';
}